<!DOCTYPE html>
<html lang="en">
<head>
  <title>Template</title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_pack_tag 'material', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  <%= favicon_pack_tag 'template_icon.png' %>
</head>

<body>
<%= render 'shared/navbar' %>
<div class='container'>
  <%= yield %>
</div>
<%= render 'shared/bottombar' %>

</body>
</html>
